.signUpButton {
    background-color: transparent;
    color: white;
    border: transparent;
    padding-left: 15px;
    padding-bottom: 5px;
    margin-bottom: 15px;
}

.signUpButton:hover {
    text-decoration: underline;
    cursor: pointer;
    color: deepskyblue;
}